.main {
  width: calc(70vw - 50px);
  height: calc(70vh - 50px);
  margin: 15px 0 0 75px;
}

aside {
  margin: 60px 60px;
  font-size: 17px;
  width: 300px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 5px 0;

  label {
    padding-right: 18px;
    display: inline-block;
    width: 150px;
  }

  input {
    font-size: 17px;
    background: #211f2f;
    color: #ffffff;
    width: 50px;
    padding: 0.3ch 5px;
    max-height: 40px;
    border: 1px solid #666;
  }
}

.column-units {
  display: grid;
  grid-template-rows: 30px;
  padding-bottom: 5px;
  justify-items: center;
}

.row-units {
  display: grid;
  grid-template-columns: 30px;
  gap: 0;
  margin-left: -80px;
  float: left;
  height: 100%;
  align-items: center;
  margin-top: 25px;
}

.grid-container {
  border: 1px solid #08ffbd;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  background: #131321;
  background: -webkit-gradient(linear,left top,left bottom,from(#131321),to(#1f1c2c));
  background: linear-gradient(180deg,#131321 0,#1f1c2c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131321",endColorstr="#1f1c2c",GradientType=0);
  -webkit-box-shadow: 0 2px 20px 0 #000;
  box-shadow: 0 2px 20px 0 #000;
  box-sizing: inherit;
}

.grid {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-auto-flow: row dense;
  box-sizing: inherit;
}

.grandchild {
  counter-reset: step;
}

.box {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='8' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 0h1L0 6V5zm1 5v1H5z' fill='%239C92AC' fill-opacity='.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  border: 1px dotted #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: move;
  position: relative;
  z-index: 1000;
  opacity: .5;
}

.fr-btn {
  display: flex;
  height: fit-content;

  button {
    height: 20px;
    width: 25px;
    align-content: center;
    align-items: center;
  }

  p {
    align-self: center;
    margin: 0;
    padding: 0 5px;
  }
}